/* Reset some default browser styles */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 50;
    padding: 50;
  }
  
  /* Set some global styles */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #f1f1f1;
    color: #333;
  }

  .image-container {
    padding: 10px; /* or margin: 20px; */
  }

  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0px;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  